<ol>
  <%- @cats.each do |cat| %>
    <li>
      <strong><%= cat.name %>,</strong>
      <span><%= cat.age %>,</span>
      <span><%= cat.color %>,</span>
      <span><%= cat.food %></span>
    </li>
  <%- end %>
</ol>
